@model List<Shop.Models.CartItem>
@{
     Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Title = "Shopping Cart";
}

<div class="untree_co-section before-footer-section">
     <div class="container">
          <div class="row mb-5">
               @using (Html.BeginForm("UpdateCart", "Cart", FormMethod.Post))
               {
                    <div class="col-md-12">
                         <div class="site-blocks-table">
                              <table class="table">
                                   <thead>
                                        <tr>
                                             <th class="product-thumbnail">Image</th>
                                             <th class="product-name">Product</th>
                                             <th class="product-price">Price</th>
                                             <th class="product-quantity">Quantity</th>
                                             <th class="product-total">Total</th>
                                             <th class="product-remove">Remove</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        @if (Model != null && Model.Any())
                                        {
                                             for (int i = 0; i < Model.Count; i++)
                                             {
                                                  <tr data-product-id="@Model[i].ProductId">
                                                       <td class="product-thumbnail">
                                                            <img src="@(!string.IsNullOrEmpty(Model[i].ProductImagePath) ? Model[i].ProductImagePath : "/Content/images/default-product.png")"
                                                                 alt="@Model[i].Name" class="img-fluid">
                                                       </td>
                                                       <td class="product-name">
                                                            <h2 class="h5 text-black">@Model[i].Name</h2>
                                                       </td>
                                                       <td class="product-price">$@Model[i].Price.ToString("F2")</td>
                                                       <td>
                                                            <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                                                                 <div class="input-group-prepend">
                                                                      <button class="btn btn-outline-black decrease" type="button">&minus;</button>
                                                                 </div>
                                                                 @Html.Hidden($"[{i}].ProductId", Model[i].ProductId)
                                                                 @Html.TextBox($"[{i}].Quantity", Model[i].Quantity, new { @class = "form-control text-center quantity-amount", @readonly = "readonly" })
                                                                 <div class="input-group-append">
                                                                      <button class="btn btn-outline-black increase" type="button">&plus;</button>
                                                                 </div>
                                                            </div>
                                                       </td>
                                                       <td class="product-total">$@((Model[i].Price * Model[i].Quantity).ToString("F2"))</td>
                                                       <td>
                                                            @Html.ActionLink("X", "RemoveFromCart", "Cart", new { id = Model[i].ProductId }, new { @class = "btn btn-black btn-sm remove-item" })
                                                       </td>
                                                  </tr>
                                             }
                                        }
                                        else
                                        {
                                             <tr>
                                                  <td colspan="6" class="text-center">
                                                       <p>Your cart is empty.</p>
                                                       @Html.ActionLink("Continue Shopping", "Index", "Shop", null, new { @class = "btn btn-outline-black" })
                                                  </td>
                                             </tr>
                                        }
                                   </tbody>
                              </table>
                         </div>
                    </div>
               }
          </div>

          @if (Model != null && Model.Any())
          {
               <div class="row">
                    <div class="col-md-6">
                         <div class="row mb-5">
                              <div class="col-md-6 mb-3 mb-md-0">
                                   <button type="submit" form="cart-form" class="btn btn-black btn-sm btn-block">Update Cart</button>
                              </div>
                              <div class="col-md-6">
                                   @Html.ActionLink("Continue Shopping", "Index", "Shop", null, new { @class = "btn btn-outline-black btn-sm btn-block" })
                              </div>
                         </div>

                         
                    </div>
                    <div class="col-md-6 pl-5">
                         <div class="row justify-content-end">
                              <div class="col-md-7">
                                   <div class="row">
                                        <div class="col-md-12 text-right border-bottom mb-5">
                                             <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                        </div>
                                   </div>
                                   <div class="row mb-3">
                                        <div class="col-md-6">
                                             <span class="text-black">Subtotal</span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                             <strong class="text-black">$@Model.Sum(x => x.Price * x.Quantity).ToString("F2")</strong>
                                        </div>
                                   </div>
                                   @if (ViewBag.Discount != null && (decimal)ViewBag.Discount > 0)
                                   {
                                        <div class="row mb-3">
                                             <div class="col-md-6">
                                                  <span class="text-black">Discount</span>
                                             </div>
                                             <div class="col-md-6 text-right">
                                                  <strong class="text-black text-success">-$@((decimal)ViewBag.Discount).ToString("F2")</strong>
                                             </div>
                                        </div>
                                   }
                                   <div class="row mb-5">
                                        <div class="col-md-6">
                                             <span class="text-black">Total</span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                             @{
                                                  var total = Model.Sum(x => x.Price * x.Quantity);
                                                  
                                             }
                                             <strong class="text-black">$@total.ToString("F2")</strong>
                                        </div>
                                   </div>

                                   <div class="row">
                                        <div class="col-md-12">
                                             @Html.ActionLink("Proceed To Checkout", "CheckOut", "Shop", null, new { @class = "btn btn-black btn-lg py-3 btn-block" })
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          }
     </div>
</div>

<script>
$(document).ready(function() {
    $('.increase').click(function() {
        var $quantityInput = $(this).closest('.quantity-container').find('.quantity-amount');
        var currentValue = parseInt($quantityInput.val());
        $quantityInput.val(currentValue + 1);
    });

    $('.decrease').click(function() {
        var $quantityInput = $(this).closest('.quantity-container').find('.quantity-amount');
        var currentValue = parseInt($quantityInput.val());
        if (currentValue > 1) {
            $quantityInput.val(currentValue - 1);
        }
    });

    $('.remove-item').click(function(e) {
        if (!confirm('Are you sure you want to remove this item from your cart?')) {
            e.preventDefault();
        }
    });
});
</script>