@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
     @Styles.Render("~/bundles/bootstrap/css")
     @Styles.Render("~/bundles/font-awesome/css")
     @Styles.Render("~/bundles/main/css")
     @Styles.Render("~/bundles/tiny-slider/css")

     @if(IsSectionDefined("Styles"))
     { @RenderSection("Styles", required: false)}
</head>
<body>
     <!--Header/Navigation-->
     <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
          @Html.Partial("_Header")
     </nav>

     <!--Hero Section-->
     <div class="hero">
          @RenderBody()
          @Html.Partial("_Hero")
     </div>

     <!--Footer-->
     @Html.Partial("_Footer")



     @Scripts.Render("~/bundles/bootstrap-bundle/js")
     @Scripts.Render("~/bundles/tiny-slider/js")
     @Scripts.Render("~/bundles/main/js")

     @RenderSection("scripts", required: false)
</body>
</html>